Let's first import the necessary packages

In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

Here is the make_graph method provided by the assignment

In [2]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Question 1: Use yfinance to extract tesla stock data

In [3]:
Tesla = yf.Ticker('TSLA')
tesla_data = Tesla.history(period='max')
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2: Use webscraping to rxtract telsa revenue data

In [4]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
read_html_pandas_teslarenvenue = pd.read_html(url)
tesla_revenue = read_html_pandas_teslarenvenue[1]
tesla_revenue_df = pd.DataFrame(tesla_revenue)
tesla_revenue_df.columns = ['Date', 'Revenue']
tesla_revenue_df.head()
tesla_revenue_df.dropna(inplace=True)
tesla_revenue_df['Revenue'] = tesla_revenue_df['Revenue'].str.replace('$','')
tesla_revenue_df['Revenue'] = tesla_revenue_df['Revenue'].str.replace(',','')
tesla_revenue_df.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27

Question 3: use yfinance to extrack gme data

In [5]:
gamestop = yf.Ticker('GME')
gme_data = gamestop.history(period='max')
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578048,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

Question 4: use webscraping to extract GME revenue data

In [6]:
url2 = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
read_html_pandas_gmerenvenue = pd.read_html(url2)
gme_revenue = read_html_pandas_gmerenvenue[1]
gme_revenue_df = pd.DataFrame(gme_revenue)
gme_revenue_df.columns = ['Date', 'Revenue']
gme_revenue_df.head()
gme_revenue_df.dropna(inplace=True)
gme_revenue_df['Revenue'] = gme_revenue_df['Revenue'].str.replace('$','')
gme_revenue_df['Revenue'] = gme_revenue_df['Revenue'].str.replace(',','')
gme_revenue_df.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

Question 5: plot tesla stock graph

In [ ]:
make_graph(tesla_data, tesla_revenue_df, 'Tesla')

Question 6: plot gme stock graph

In [ ]:
make_graph(gme_data, gme_revenue_df, 'GameStop')